{% extends "admin/change_list.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% load static %}
    <script>

        // Crea una nueva conexión WebSocket.
        var socket = new WebSocket('ws://localhost:8000/ws/votes/');

        // Cuando la conexión se abre, muestra un mensaje en la consola.
        socket.onopen = function(e) {
        console.log("[open] Connection established");
        };

        // Cuando se recibe un mensaje del servidor, actualiza la interfaz de usuario.
        socket.onmessage = function(event) {
        console.log("[message] Data received from server: ", event.data);  
        var data = JSON.parse(event.data);
        var voteCountElement = document.getElementById('vote-count-' + data.vote_id);
        var votePercentageElement = document.getElementById('vote-percentage-' + data.vote_id);

        voteCountElement.textContent = 'Number of votes: ' + data.vote_count;
        votePercentageElement.textContent = 'Percentage: ' + data.vote_percentage.toFixed(2) + '%';

        };

        // Cuando la conexión se cierra, muestra un mensaje en la consola.
        socket.onclose = function(event) {
        console.log(`[close] Connection closed`);
        };

        // Cuando ocurre un error, muestra un mensaje en la consola.
        socket.onerror = function(error) {
        console.log(`[error] ${error.message}`);
        };
        
        //SCRIPT PARA QUE EL BAR DE LA BARRA DEPROGRSO NO DE ERROR
        window.onload = function() {
            var bars = document.querySelectorAll('.bar');
            bars.forEach(function(bar) {
                var width = bar.getAttribute('data-width');
                bar.style.width = width + '%';
            });
        };

    </script>


    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }
        .bar-container {
            width: 50%;
            background-color: #f3f3f3;
            padding: 4px;
            border: 1px solid #bbb;
        }
    
        .bar {
            height: 3px;  
            background-color: #4CAF50;
        }
    </style>
{% endblock %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'store:vote_create_backup' %}" class="button">Create a Backup</a>
    </li>
    <li>
        <a href="{% url 'store:vote_restore_backup_list' %}" class="button">Restore Database</a>
    </li>
    <li>
        <a href="{% url 'store:delete_backups' %}" class="historylink">Eliminar Backups</a>
    </li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Dashboard</h1>
    <div class="grid-container">
        {% for vote in votes %}
            <div id="voting-{{ vote.voting_id }}">
                <h2>Voting ID: {{ vote.voting_id }}</h2>
                <p id="vote-count-{{ vote.voting_id }}">Number of votes: {{ vote.total_votes }}</p>
                <p id="vote-percentage-{{ vote.voting_id }}">Percentage: {{ vote.percentage|floatformat:2 }}%</p>
        
                <div class="bar-container">
                    <div class="bar" data-width="{{ vote.percentage }}"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}