{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'store:vote_create_backup' %}" class="button">Create a Backup</a>
    </li>
    <li>
        <a href="{% url 'store:vote_restore_backup' %}" class="button">Restore Database</a>
    </li>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
    .bar-container {
        width: 10%;
        background-color: #f3f3f3;
        padding: 4px;
        border: 1px solid #bbb;
    }

    .bar {
        height: 3px; /* Reduce the height to make the bars smaller */
        background-color: #4CAF50;
    }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Dashboard</h1>
    {% for vote in votes %}
        <h2>Voting ID: {{ vote.voting_id }}</h2>
        <p>Number of votes: {{ vote.total_votes }}</p>
        <p>Percentage: {{ vote.percentage|floatformat:2 }}%</p>

        <div class="bar-container">
            <div class="bar" style="width: {{ vote.percentage }}%;"></div>
        </div>
    {% endfor %}
{% endblock %}