{% block content %}
{% load custom_filters %}
<h1 style="padding-top: 2%;">
    <center>Your vote history</center>
</h1>
{%if not votesEmpty%}
{% for vote in votes %}
    {%with voting=vote.voting_id|getVoting %}
        <div style="padding-left: 5%;
                    display: list-item;
                    align-content: center;
                    border: black;
                    ">
            <big>
                <a href="/visualizer/{{voting.id}}/">
                    <p>
                        <strong>Voting name: </strong> {{voting.name}}
                    </p>
                </a>
                <p>
                    <strong>Voting description: </strong> {{voting.description}}
                </p>
                <p>
                    <strong>The voting started on: </strong> {{voting.start_date}}
                </p>
                <p>
                    <strong> You voted on:</strong> {{vote.voted}}
                </p>
                {%if voting.end_date %}
                    <p>
                        <strong> The voting ended on:</strong> {{voting.end_date}}
                    </p>
                {%else%}
                    <p>
                        <strong> The voting has not ended yet</strong>
                    </p>
                {%endif%}
                <p><strong>Questions: </strong></p>
                {% for question in voting.questions %}
                    <li>{{question}}</li>
                {%endfor%}
                </p>
            </big>
        </div>
    {%endwith%}
{%endfor%}
{%else%}
<p style="padding-top: 5%;">
    <big>
        <big>
            <center>
                <strong>It seems that you dont have any votes yet</strong>
            </center>
        </big>
    </big>
</p>
{%endif%}
{% endblock %}