{% block content %}
{% load custom_filters %}
<h1 style="padding-top: 2%;">
    <center>Your vote history</center>
</h1>
{%if not votesEmpty%}
{% for vote in votes %}
    {%with voting=vote.voting_id|getVoting %}
        <center>
            <a style="text-decoration: none; color: #000;" href="/visualizer/1">
            <div style="padding-left: 2%;
                    padding-right: 2%;
                    margin-bottom: 1%;
                    align-content: center;
                    border: 2px solid #000;
                    width: fit-content;
                    background-color: lightgray;
                    ">
                <big>
                    <p>
                        <strong>Voting: </strong> {{voting}}
                    </p>
                    <p>
                        <strong> Vote date:</strong> {{vote.voted}}
                    </p>
                    <p>
                        <strong>Question: </strong> {{voting.question}}
                    </p>
                </big>
            </div>
            </a>
        </center>
    {%endwith%}
{%endfor%}
{%else%}
    <big>
        <big>
            <center>
                <p style="padding-left: 2%;
                padding-right: 2%;
                margin-top: 5%;
                align-content: center;
                border: 2px solid #000;
                background-color: lightgray;
                ">
                    <strong>It seems that you dont have any votes yet</strong>
                </p>
            </center>
        </big>
    </big>
{%endif%}
{% endblock %}